html {
  background-color: rgb(235, 235, 235);
  padding: 0;
}
body { 
  font-family: Arial, sans-serif;
}
input, button {
   margin: 5px; 
}
table {
   border-collapse: collapse; margin-top: 15px; 
  }
th, td {
   border: 1px solid #ccc; padding: 5px 10px; 
  }
td {
  text-align: right;
}
th {
   background: #f0f0f0; 
}
ul#suggestions {
  list-style: none;
  padding: 0;
  margin: 0;

  max-height: 150px;
  overflow-y: auto;
  width: 300px;
  position: absolute;
  background: white;
  z-index: 10;
}
ul#suggestions li {
  padding: 5px;
  cursor: pointer;
}
ul#suggestions li:hover {
  background-color: #eee;
}

#remove {
  background-color: coral;
  cursor:pointer;
}

tr:nth-child(even){
  background-color: ghostwhite;
}

#productinfo {
  margin-top: 100px;
}

#left {
  width: 20%;
  height: 100vh;
  background-color: bisque;
  margin: 0 20px 0 0;
  padding: 20px;
  display: inline-block;
}

#left img {
  width: 100%;
}

#right {
  margin: 20px;
  height: 100vh;
  position: absolute;
  left: 25%;
  display: inline-block;
}
