* {
  box-sizing: border-box;
  padding: 0;
}

main {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

body { 
  background-color: #E0F7FA;
  font-family: Arial, sans-serif;
}

input, button {
   width: 100%;
   margin: 5px 0;
   padding: 10px;
}


button {
  background-color: #F2C94C;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 120%;
}


#menuTable {
   border-collapse: collapse;
   margin-top: 15px; 
   width: 100%;
  }

th, td {
   border: 1px solid #ccc;
   padding: 5px 10px; 
  }
td {
  text-align: right;
}

td:first-child, th:first-child{
  text-align: left;
}

th {
   background: #B3EBD5; 
}

ul {
  list-style-type: none;
  line-height: 140%;
}

ul#suggestions {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: white;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  z-index: 10;
  line-height: 1.5;
}

ul#suggestions li:hover {
  background-color: #eee;
}

#remove {
  background-color: coral;
  cursor:pointer;
}

tr:nth-child(even){
  background-color: #B3EBD5;
}

#productinfo {
  margin-top: 100px;
}

#search {
  padding: 3px;
  width: 30%;
  height: 100vh;
  background-color: #B3EBD5;
  box-sizing: border-box;
}

#search img {
  width: 100%;
  margin: auto;
  max-width: 170px;
  padding: 0 30px;
}

#results {
  width: 70%;
  padding: 0 5px;
  height: 100vh;
  box-sizing: border-box;
}

#remove {
  text-align: center;
}

@media screen and (max-width: 480px) {
  html, body, main{
    margin: 0; padding: 0; width: 100%;
    /*overflow-x: hidden !important;*/
  }

  h2 {
    font-size: 100%;
  }

  #search, #results {
    margin: 0;
    height: auto;
    padding: 5px;
    width: 100%;
  }

  #infoFlex {
    display: flex;
    flex-direction: row;
  }

  #table {
    overflow-x: auto;
  }
  
  #menuTable {
    table-layout: fixed;
    width: auto;
  }

  ul {
    line-height: 140%;
    list-style-type: none;
    width: 50%;
    box-sizing: border-box;
  }

#prodimg {
  width: 50%;
  box-sizing: border-box;
}

#search img {
  padding: 0;
}

}