* {
  box-sizing: border-box;
  padding: 0;
}

main {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

body {
  background-color: #E0F7FA;
  font-family: Arial, sans-serif;
}

input,
button {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
}

button {
  background-color: #F2C94C;
  border: none;
  border-radius: 5px;
  font-size: 120%;
}

#results table {
  border-collapse: collapse;
  margin-top: 15px;
  width: 100%;
}

th,
td {
  border: 1px solid #ccc;
  padding: 5px;
}

td {
  text-align: right;
}

td:first-child,
th:first-child {
  text-align: left;
}

th {
  background: #B3EBD5;
}

ul {
  list-style-type: none;
  line-height: 140%;
}

ul#suggestions {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: white;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  z-index: 10;
}

ul#suggestions li:hover {
  background-color: #eee;
}

#remove {
  background-color: coral;
  text-align: center;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #B3EBD5;
}

#search {
  padding: 3px;
  width: 30%;
  background-color: #B3EBD5;
  }

#prodimg {
  margin: auto;
  display: block;
}

#search img {
  width: 100%;
  padding: 0 30px;
}

#results {
  width: 70%;
  padding: 0 0 0 15px;
}

@media screen and (max-width: 920px){
  main {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  html,
  body,
  main {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  main {
    max-width: 400px;
    margin: 0 auto;
  }

  h2, button {
    font-size: 100%;
  }

  h2 {
    margin-bottom: 0px;
  }

  #search,
  #results {
    margin: 0;
    height: auto;
    padding: 0 0 0 0;
    width: 100%;
  }

  #results h2 {
    padding-left: 0px;
  }

  #productInfo > div {
    display: flex;
    flex-direction: row;
  }

  #results > div {
    overflow-x: auto;
  }

  #results table {
    table-layout: fixed;
    width: auto;
  }

  ul {
    line-height: 140%;
    list-style-type: none;
    width: 50%;
  }

  #prodimg {
    width: 50%;
  }

  #search img {
    padding: 0;
  }

}